# Relatório de Análise

## Tipos de Imóveis

In [1]:
import pandas as pd

In [2]:
dados = pd.read_csv('Dados/aluguel.csv',sep=';')

In [3]:
dados['Tipo']

0                      Quitinete
1                           Casa
2        Conjunto Comercial/Sala
3                    Apartamento
4                    Apartamento
                  ...
32955                  Quitinete
32956                Apartamento
32957                Apartamento
32958                Apartamento
32959    Conjunto Comercial/Sala
Name: Tipo, Length: 32960, dtype: object

In [4]:
tipos_imoveis = dados['Tipo']

In [5]:
type(tipos_imoveis) #Series é um array do panda contendo os indices também

pandas.core.series.Series

In [6]:
tipos_imoveis.drop_duplicates(inplace=True) #Muito mais prático #Inplace serve para não ter de recriar a variável

In [7]:
tipos_imoveis

0                          Quitinete
1                               Casa
2            Conjunto Comercial/Sala
3                        Apartamento
7                 Casa de Condomínio
16                    Prédio Inteiro
17                              Flat
29                        Loja/Salão
80           Galpão/Depósito/Armazém
83                    Casa Comercial
117                     Casa de Vila
159                   Terreno Padrão
207                      Box/Garagem
347                             Loft
589      Loja Shopping/ Ct Comercial
2157                         Chácara
3354           Loteamento/Condomínio
4379                           Sítio
4721                   Pousada/Chalé
6983                          Studio
9687                           Hotel
23614                      Indústria
Name: Tipo, dtype: object

## Organizando a Visualização

In [8]:
tipos_imoveis = pd.DataFrame(tipos_imoveis)

In [9]:
tipos_imoveis.index = range(tipos_imoveis.shape[0])

In [10]:
tipos_imoveis

                           Tipo
0                     Quitinete
1                          Casa
2       Conjunto Comercial/Sala
3                   Apartamento
4            Casa de Condomínio
5                Prédio Inteiro
6                          Flat
7                    Loja/Salão
8       Galpão/Depósito/Armazém
9                Casa Comercial
10                 Casa de Vila
11               Terreno Padrão
12                  Box/Garagem
13                         Loft
14  Loja Shopping/ Ct Comercial
15                      Chácara
16        Loteamento/Condomínio
17                        Sítio
18                Pousada/Chalé
19                       Studio
20                        Hotel
21                    Indústria

In [11]:
tipos_imoveis.columns.name = 'Id'