In [1]:
import pandas as pd
import numpy as np
from itertools import permutations

In [2]:
books = pd.read_csv('data/bookstore_transactions.csv')

In [3]:
transactions = books['Transaction'].apply(lambda x:x.split(','))

### Obter os generos dos livros

In [4]:
flattened = [item for transaction in transactions for item in transaction]

In [5]:
#Lista com todos os livros 
#flattened

In [6]:
items = list(set(flattened))

In [7]:
items

['Fiction', 'History', 'Poetry', 'Bookmark', 'Biography']

### Mostrar as regras de associação

In [8]:
rules = list(permutations(items,2))

In [9]:
#Possiveis associações
rules

[('Fiction', 'History'),
 ('Fiction', 'Poetry'),
 ('Fiction', 'Bookmark'),
 ('Fiction', 'Biography'),
 ('History', 'Fiction'),
 ('History', 'Poetry'),
 ('History', 'Bookmark'),
 ('History', 'Biography'),
 ('Poetry', 'Fiction'),
 ('Poetry', 'History'),
 ('Poetry', 'Bookmark'),
 ('Poetry', 'Biography'),
 ('Bookmark', 'Fiction'),
 ('Bookmark', 'History'),
 ('Bookmark', 'Poetry'),
 ('Bookmark', 'Biography'),
 ('Biography', 'Fiction'),
 ('Biography', 'History'),
 ('Biography', 'Poetry'),
 ('Biography', 'Bookmark')]

### Criar as associações

In [10]:
from mlxtend.frequent_patterns import association_rules
from mlxtend.preprocessing import TransactionEncoder
from mlxtend.frequent_patterns import apriori

In [11]:
transactions

0       [History, Bookmark]
1       [History, Bookmark]
2       [Fiction, Bookmark]
3     [Biography, Bookmark]
4       [History, Bookmark]
              ...
94    [Biography, Bookmark]
95       [Poetry, Bookmark]
96      [History, Bookmark]
97    [Biography, Bookmark]
98    [Biography, Bookmark]
Name: Transaction, Length: 99, dtype: object

In [12]:
encoder = TransactionEncoder().fit(transactions) # Cria o objeto Encoder

In [13]:
onehot = encoder.transform(transactions) # Retorna um  array booleano
onehot = pd.DataFrame(onehot,columns = encoder.columns_) # Cria um dataframe co

In [14]:
onehot

    Biography  Bookmark  Fiction  History  Poetry
0       False      True    False     True   False
1       False      True    False     True   False
2       False      True     True    False   False
3        True      True    False    False   False
4       False      True    False     True   False
..        ...       ...      ...      ...     ...
94       True      True    False    False   False
95      False      True    False    False    True
96      False      True    False     True   False
97       True      True    False    False   False
98       True      True    False    False   False

[99 rows x 5 columns]

In [15]:
onehot['Fiction+Poetry'] = np.logical_and(onehot['Fiction'],onehot['Poetry'])
onehot['Fiction+Poetry']

0     False
1     False
2     False
3     False
4     False
      ...
94    False
95    False
96    False
97    False
98    False
Name: Fiction+Poetry, Length: 99, dtype: bool

In [16]:
onehot[(onehot['Fiction'] == True) & (onehot['Poetry'] == True)]

Empty DataFrame
Columns: [Biography, Bookmark, Fiction, History, Poetry, Fiction+Poetry]
Index: []

In [23]:
onehot[(onehot['Poetry']==True) & (onehot['History']==True)]

Empty DataFrame
Columns: [Biography, Bookmark, Fiction, History, Poetry, Fiction+Poetry]
Index: []

In [21]:
onehot

    Biography  Bookmark  Fiction  History  Poetry  Fiction+Poetry
0       False      True    False     True   False           False
1       False      True    False     True   False           False
2       False      True     True    False   False           False
3        True      True    False    False   False           False
4       False      True    False     True   False           False
..        ...       ...      ...      ...     ...             ...
94       True      True    False    False   False           False
95      False      True    False    False    True           False
96      False      True    False     True   False           False
97       True      True    False    False   False           False
98       True      True    False    False   False           False

[99 rows x 6 columns]

# MovieLens

In [1]:
import pandas as pd

In [4]:
ratings = pd.read_csv('data/movielens_movies.csv')
ratings.head(5)

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy

In [ ]:
user_id = ratings[